@import "./globals.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */

.body {
  @apply text-[#14171f] bg-white dark:text-[#fff] dark:bg-primary;
}

.input-class {
  @apply w-full border px-[10px] text-sm font-medium py-3 h-[43px] rounded-md placeholder:text-[#BFBFBF] focus:border-primary  focus:dark:border-secondary focus:outline-none caret-primary dark:caret-secondary sm:h-[60px] sm:text-base sm:py-4;
}

.auth-title {
  @apply text-[28px] font-bold tracking-[-1px] leading-[44px] sm:text-[34px];
}
.auth-subtitle {
  @apply text-sm tracking-[0.15px] leading-[24px] sm:text-base sm:mt-2;
}

/* Spinner */
.svg-loader {
  animation: rotate 1s linear infinite;
}

.svg-loader .outer-ring {
  transform-origin: 50px 50px; /* Center of the 100x100 viewBox */
  animation: rotate 2s linear infinite;
}

.svg-loader .inner-ring {
  transform-origin: 50px 50px; /* Center of the 100x100 viewBox */
  animation: rotate 0.5s linear infinite reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
