@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@theme {
  /* primary shade */
  --color-primary-600: #000a2f;
  --color-primary-500: #000c3b;
  --color-primary-400: #333d62;
  --color-primary-300: #94b9ff;
  --color-primary-200: #b5cfff;
  --color-primary-100: #cedfff;
  --color-primary-50: #d9e4f8;
  --color-primary-20: #d9e4f866;
  /* Neutral */
  --color-neutral-900: #8c8c8c;
  --color-neutral-800: #aaaaaa;
  --color-neutral-700: #bfbfbf;
  --color-neutral-600: #e6e6e6;
  --color-neutral-500: #ffffff;
  --color-neutral-comment: #f4f4f4;
  /* Success */
  --color-success-700: #00492e;
  --color-success-600: #00623e;
  --color-success-500: #007a4d;
  --color-success-400: #189567;
  --color-success-300: #31af81;
  --color-success-200: #49ca9a;
  --color-success-100: #6ef2c1;
  --color-success-50: #d5ffde;
  /* Error */
  --color-error-600: #6c1d00;
  --color-error-500: #b43000;
  --color-error-400: #cb0500;
  --color-error-300: #d26d48;
  --color-error-200: #e18b6c;
  --color-error-100: #f0aa90;
  --color-error-50: #ffdde1;
  /* info */
  --color-info-600: #0022af;
  --color-info-500: #002bdb;
  --color-info-400: #3355e2;
  --color-info-300: #508dfa;
  --color-info-200: #86b1ff;
  --color-info-100: #dce8fe;
  --color-info-50: #e5eafb;
  /* warning */
  --color-warning-900: #513d02;
  --color-warning-800: #6a5003;
  --color-warning-700: #9c7604;
  --color-warning-600: #cd9506;
  --color-warning-500: #ffc107;
  --color-warning-400: #ffcd39;
  --color-warning-300: #ffda6a;
  --color-warning-200: #ffecb5;
  --color-warning-100: #fff3cd;
  --color-warning-50: #fff9e6;
  /* Black */
  --color-black-500: #14171f;
  --color-black-400: #23252c;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
  overflow-x: hidden;
  @apply bg-neutral-500 text-black-500;
}

.custom-container {
  @apply max-w-[2000px] mx-auto px-4 sm:px-[30px] md:px-10;
}

.h2-auth {
  @apply text-2xl font-bold md:text-3xl lg:text-[32px];
}
.h2-app {
  @apply text-[22px] font-bold md:font-normal md:text-3xl lg:text-[36px];
}

.in-app-btn {
  @apply w-fit min-w-[130px] sm:min-w-[200px] lg:min-w-[260px];
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  scrollbar-color: #18234f;
}

[data-sidebar="mobile"] {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  overflow: hidden !important;
}

/* Spinner */
.svg-loader {
  animation: rotate 1s linear infinite;
}

.svg-loader .outer-ring {
  transform-origin: 50px 50px; /* Center of the 100x100 viewBox */
  animation: rotate 2s linear infinite;
}

.svg-loader .inner-ring {
  transform-origin: 50px 50px; /* Center of the 100x100 viewBox */
  animation: rotate 0.5s linear infinite reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
