@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("/fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("/fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@theme {
  --color-primary: #000c3b;
  --color-primary-disabled: #000c3bb3;
  --color-secondary: #3f88c5;
  --color-accent: #d72638;
  --color-text-black: #14171f;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
  overflow-x: hidden;
  /* @apply bg-primary-disabled text-text-black; */
}
